* { 
  font-family: 'Open Sans', Tahoma, Arial
}
#instructions li { 
  padding: 3px 0;
}

.hidden { 
  display: none;
}

#input { 
  border: 1px solid lightgrey;
  padding: 10px;
  margin: 10px;
}

#pet-search {
  font-size: 16px;
  padding: 5px;
  width: 300px;
}

#output { 
  border: 1px solid grey;
  padding: 10px;
  margin: 10px;
}

#details {
  display: block;
}